@import url('https://fonts.googleapis.com/css?family=Aldrich&display=swap');
body {
  font-family: 'Aldrich', sans-serif;
  background-color: black;
 /* line-height: 1.429;*/
}
h1{
  color: white;
}
p{
  color: white;
}

#aamap{
  width: 1000px; 
  height: 700px;
}
